<header class="col-md-3 artisan-profile bg-light mvh-100">
    <div class="sticky-top">
        <a class="artisan-profile-banner text-center pt-3 pb-2" href="{{ "/" | relative_url }}">
            <img src="{{ site.artisan.avatar | default: "http://via.placeholder.com/128x128" }}" class="artisan-profile-banner__avatar mb-2">
            <h5>{{ site.title | escape }}</h5>
            <h6 class="text-muted">{{ site.subtitle | escape }}</h6>
        </a>

        <p class="p-3 text-muted d-none d-md-block">
            {{ site.description | escape }}
        </p>
    </div>
</header>
