/**
 * Bootstrap overrides.
 */

$body-bg: #fafafa;
$font-family-base: 'Miriam Libre', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$text-color: rgba(0, 0, 0, .87);
$text-muted: rgba(0, 0, 0, .60);
$headings-font-weight: 700;
